:root {
  box-sizing: border-box;
  --custom-green: rgb(89, 109, 72);
  --custom-background-grey: rgb(249, 250, 251);
  --custom-input-label-blue-grey: rgb(24, 34, 49);
  --custom-input-border-grey: rgb(229, 231, 235);
  --custom-form-background-white: rgb(254, 255, 255);
  --custom-box-shadow-grey: rgb(211, 211, 211);
  --left-offset: 50px;
}

@font-face {
  font-family: my-cool-font;
  src: url(../fonts/blackjack.otf);
}

body {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: row;
  min-height: 100vh;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: var(--custom-green);
  font-weight: 800;
}

.splash-left {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 500px;
  background-image: url("../images/my-splash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
}

.logo-row {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -400px;
  background-color: hsla(0, 0%, 0%, 50%);
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
}

form {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
}

.logo {
  width: 2em;
  font-size: 100px;
  color: white;
}

.site-name {
  height: 1em;
  font-size: 100px;
  color: white;
  font-family: my-cool-font, sans-serif;
}

.splash-right {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  background-color: var(--custom-background-grey);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  gap: 40px;
}

.hero-text {
  box-sizing: border-box;
  font-size: 24px;
}

.footer {
  box-sizing: border-box;
  padding-left: 50px;
}

.form-container {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  justify-content: space-evenly;
  background-color: var(--custom-form-background-white);
  box-shadow: 5px 5px 5px var(--custom-box-shadow-grey);
  padding-left: var(--left-offset);
  padding-bottom: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  align-items: flex-start;
  align-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  min-width: 100%;
  /* border: 1px solid blueviolet; */
  gap: 50px;
}

.form-col {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 200px;
  flex-direction: column;
  /* border: 1px solid green; */
}

label {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  color: var(--custom-input-label-blue-grey);
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 800;
  /* border: 1px solid pink; */
}

input {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: var(--custom-input-border-grey);
  padding: 5px;
}

input:focused {
  border-color: blue;
  box-shadow: 0px 5px 5px var(--custom-box-shadow-grey);
}

input:invalid {
  border-color: red;
}

button {
  box-sizing: border-box;
  background-color: var(--custom-green);
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--custom-box-shadow-grey);
  font-weight: 800;
  border-style: none;
  margin-top: 40px;
}

.content {
  margin-right: 50px;
  margin-left: 50px;
}
